docs/n8n-rss-workflow.json
{
  "name": "DK Agency RSS News Flow",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "triggerTimes": [
          {
            "hour": 0,
            "minute": 0,
            "weekDay": "*",
            "dayOfMonth": "*",
            "month": "*",
            "cronExpression": "0 */6 * * *"
          }
        ],
        "options": {
          "includeSeconds": false,
          "timezone": "UTC"
        }
      },
      "name": "Every 6 hours",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 180]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $env.BASE_URL }}/api/news/fetch",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "=\"Bearer \" + $env.NEWS_API_SECRET"
            }
          ]
        }
      },
      "name": "Fetch News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [520, 120]
    },
    {
      "parameters": {
        "waitTime": 30,
        "unit": "seconds"
      },
      "name": "Wait 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [760, 120]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $env.BASE_URL }}/api/news/translate",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "=\"Bearer \" + $env.NEWS_API_SECRET"
            }
          ]
        }
      },
      "name": "Translate News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1040, 120]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json[\"status\"] === 200 }}",
              "value2": "true"
            }
          ]
        }
      },
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1320, 120]
    },
    {
      "parameters": {
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "options": {
          "bodyContentType": "json"
        },
        "bodyParametersJson": "={ \"text\": \"RSS workflow completed: fetch and translate request finished.\" }"
      },
      "name": "Slack Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1600, 60]
    },
    {
      "parameters": {
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "options": {
          "bodyContentType": "json"
        },
        "bodyParametersJson": "={ \"text\": \"RSS workflow failed. Check n8n logs.\" }"
      },
      "name": "Slack Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1600, 180]
    }
  ],
  "connections": {
    "Every 6 hours": {
      "main": [
        [
          {
            "node": "Fetch News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch News": {
      "main": [
        [
          {
            "node": "Wait 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s": {
      "main": [
        [
          {
            "node": "Translate News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translate News": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "main2": [
        [
          {
            "node": "Slack Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
